{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}
{% block content %}
{% load static%}

<nav class="navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">


        <li class="nav-item">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action ">Category</a>
            {% for cat in generous %}
            <a href="#" class="list-grouo-item-action">
              {{ cat.genre_title }}
            {% endfor %}
            </a>
          </div>
        </li>



        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">99 Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Newly Added Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Hindi Novels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Graphics Comics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Merchandise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Lock The Box</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Book Bundles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Literature And Fiction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">India Top Read</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{%static 'img_1.png'%}" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="{%static 'img_2.jpeg'%}" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="{%static 'img_3.png'%}" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="{%static 'img_4.webp'%}" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="{%static 'img_5.png'%}" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="{%static 'img_6.webp'%}" class="d-block w-100">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<div class="container">
  <div class="card-title">Book Sets
  <div class="row mb-1">


    {% if books %}
    {% for post in books %}
    <div class="col-md-3">
      <div class="card " style="width: 10rem;" >
        <img src="{{ post.image.url }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ post.price }}</li>
        </ul>
        <p class="text-muted small">
          Author: {{ post.author|default:"Guest" }}</p>
        <p class="card-text">{{ post.genre }}</p>
        <p class="card-text">{{ post.nop }}</p>
        <p class="card-text">{{ post.isbn }}</p>
        <p class="card-text">{{ post.description }}</p>
        <div class="d-flex justify-content-end">
          <a href="{% url 'viewBook' %}" class="btn btn-success">Read More</a>
    </div>
      </div>
      </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endfor %}
{% else%} 
  <h1>Not Found</h1>
{% endif %}



{% endblock content %}