{% extends 'base.html' %}
{% block title %} 
{{ post.title }}
{% endblock %} 
{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <div class="list-group">
        <a href="" class="list-group-item list-group-item-action active"
          >Categories</a>
        {% for cat in generous %}
        <a
          href="{% url 'filterGenerous' cat.id %}"
          class="list-group-item list-group-item-action">{{ cat.genre_title }}</a>
        {% endfor %}
      </div>
    </div>
  

    <div class="col-9">
        {% for post in books %}

      <div class="card mb-3">

        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ post.image.url }}"
              class="img-fluid rounded-start"/>
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="text-muted small">
                Author: {{ post.author }}
              </p>
              <p class="card-text">Category: {{ post.category }}.</p>
              <p class="card-text">Price: {{ post.price }}.</p>
              <p class="card-text">NOP: {{ post.nop }}.</p>
              <p class="card-text">Isbn: {{ post.isbn }}.</p>
              <p class="card-text">{{ post.description }}.</p>
              </div>

              <div class="d-flex justify-content-end gap-3">
                <a href="{% url 'editBook' %}" class="btn btn-success"
                  >Edit</a
                >
                <a
                  href="{% url 'deleteBook'%}"
                  class="btn btn-danger"
                  >Delete</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}


    

{% endblock content %}