{% extends 'base.html' %}
{% block title %} 
{{ post.title }}
{% endblock %} 
{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <div class="list-group">
        <a href="" class="list-group-item list-group-item-action active"
          >Categories</a>
        {% for post in generous %}
        <a
          href="{% url 'filterGenerous' post.id %}"
          class="list-group-item list-group-item-action">{{ post.genre_title }}</a>
        {% endfor %}
      </div>
    </div>
  

    <div class="col-9">

      <div class="card mb-3">

        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ post.image.url }}"
              class="img-fluid rounded-start"/>
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">
                Author: {{ post.author }}
              </p>
              <p class="card-text">Category: {{ post.generous }}.</p>
              <p class="card-text">Price: {{ post.price }}.</p>
              <p class="card-text">NOP: {{ post.nop }}.</p>
              <p class="card-text">Isbn: {{ post.isbn }}.</p>
              <p class="card-text">{{ post.description }}.</p>
              </div>
              {% if user.is_authenticated %}
              <div class="d-flex justify-content-end gap-3">
                <a href="{% url 'editBook' post.id%}" class="btn btn-success"
                  >Edit</a>
                <a
                  href="{% url 'deleteBook' post.id%}"
                  class="btn btn-danger"
                  >Delete</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header">
      <h2>Related Books</h2>
    </div>
    <div class="card-body">
        <div class="row">
          <div class="col-4">
            {% for post in related_post %}
              <div class="card" style="width:10rem;height:auto;">
                <img src="{{ post.image.url }}" alt="" class="w-100">
                <div class="card-body">
                  <h2>{{ post.title }}</h2>
                  <p class="card-text">Price: {{ post.price }}.</p>
                  <a href="{% url 'viewBook' post.id %}" class="btn btn-success btn-sm">Read More</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
    </div>
  </div>

    

{% endblock content %}